openapi: 3.2.0
info:
  version: 2.1.0
  title: PayU GPO Europe REST MCP API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://poland.payu.com/wp-content/themes/global-website/assets/src/images/payu-logo.svg
  description: '# Overview


    This reference is designed to assist you in effectively utilizing the PayU REST API to enhance your online payment capabilities.'
servers:
- url: https://secure.payu.com
  description: Production Server
- url: https://secure.snd.payu.com
  description: Sandbox Test Server
security:
- Bearer:
  - client_credentials
tags:
- name: MCP
  x-displayName: Multi-Currency Pricing
  description: We can convert your customers' payments to the currency of your shop set up with PayU.
paths:
  /api/v2_1/mcp-partners/{mcpPartnerId}/fx-table:
    get:
      tags:
      - MCP
      summary: Retrieve Rate Table
      description: Retrieve current table with the conversion rates for the currencies.
      operationId: retrieve-rate-table
      parameters:
      - name: mcpPartnerId
        in: path
        example: 6283a549-8b1a-430d-8a62-eea64327440e
        required: true
        content:
          application/json:
            schema:
              type: string
      - name: Content-Type
        in: header
        description: Content type
        required: true
        schema:
          type: string
        style: simple
        example: application/json
      - name: Authorization
        in: header
        description: Auth token
        required: true
        schema:
          type: string
        style: simple
        example: Bearer 3e5cac39-7e38-4139-8fd6-30adc06a61bd
      responses:
        '200':
          x-summary: OK
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 802438
                    description: rate table id (corresponds with mcpFxTableId in OrderCreateRequest)
                  validTo:
                    type: string
                    format: '2017-06-27T20:20:00Z'
                    example: '2023-01-02T20:18:00Z'
                    description: table validity time (always in UTC). New table should be retrieved right after the validity ends.
                  currencyPairs:
                    type: array
                    description: Section containing pairs of chosen term currency and base currencies
                    items:
                      type: object
                      properties:
                        baseCurrency:
                          type: string
                          example: PLN
                          description: initial currency code - this is the currency in which the payer will be charged (card settlement currency) compliant with ISO 4217
                        exchangeRate:
                          type: number
                          example: 0.23753
                          description: exchange rate from base currency to term currency
                        termCurrency:
                          type: string
                          example: USD
                          description: final currency code - this is the currnecy of the shop at which the payment will be processed (currency set for the shop in the PayU system) compliant with ISO 4217
        '400':
          x-summary: Bad request
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400'
        '401':
          x-summary: Unauthorized
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
        '404':
          x-summary: Not found
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404'
components:
  schemas:
    '400':
      type: object
      properties:
        status:
          type: object
          properties:
            statusCode:
              type: string
              description: Error type.
            severity:
              type: string
              description: error severity type.
            code:
              type: string
              description: Identification code of specific error.
            codeLiteral:
              type: string
              description: Cause of the error.
            statusDesc:
              type: string
              description: Error description.
    '401':
      type: object
      properties:
        status:
          type: object
          properties:
            statusCode:
              type: string
              description: Error type.
            code:
              type: string
              description: Identification code of specific error.
            codeLiteral:
              type: string
              description: Cause of the error.
            statusDesc:
              type: string
              description: Error description.
    '404':
      type: object
      properties:
        status:
          type: object
          properties:
            statusCode:
              type: string
              description: Error type.
            severity:
              type: string
              description: error severity type.
            statusDesc:
              type: string
              description: Error description.
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
    Basic:
      type: http
      scheme: basic
