openapi: 3.2.0
info:
  version: 2.1.0
  title: PayU GPO Europe REST Statements API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://poland.payu.com/wp-content/themes/global-website/assets/src/images/payu-logo.svg
  description: '# Overview


    This reference is designed to assist you in effectively utilizing the PayU REST API to enhance your online payment capabilities.'
servers:
- url: https://secure.payu.com
  description: Production Server
- url: https://secure.snd.payu.com
  description: Sandbox Test Server
security:
- Bearer:
  - client_credentials
tags:
- name: Statements
  x-displayName: Statements
  description: Statements in PayU are comprehensive reports that provide a detailed summary of completed purchase transactions, refunds, and payouts.
paths:
  /api/v2_1/reports/{reportId}:
    get:
      tags:
      - Statements
      summary: Retrieve Statement
      description: 'In response to retrieving a statement via the API, PayU returns a statement file (as indicated by the `Content-Type=application/octet-stream`) in the `Content-Disposition` header. You should take this attached binary data and save it with the same name and file extension.


        For example, if the value of the `Content-Disposition` header is **attachment; filename="69e45495-bed9-4824-ace9-f7c191449bbb.zip"**, then you should save the attached data on your computer with the same name **69e45495-bed9-4824-ace9-f7c191449bbb.zip**.'
      operationId: retrieve-statement
      security:
      - Basic: null
      parameters:
      - name: reportId
        in: path
        example: 4a3534fb-85b5-4f29-9da8-a6d73b34d528
        required: true
        content:
          application/json:
            schema:
              type: string
      - name: Content-Type
        in: header
        description: Content type
        required: true
        schema:
          type: string
        style: simple
        example: application/json
      - name: Authorization
        in: header
        description: Auth token
        required: true
        schema:
          type: string
        style: simple
        example: Bearer 3e5cac39-7e38-4139-8fd6-30adc06a61bd
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
    Basic:
      type: http
      scheme: basic
