openapi: 3.2.0
info:
  version: 2.1.0
  title: PayU GPO Europe REST Card Installments API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://poland.payu.com/wp-content/themes/global-website/assets/src/images/payu-logo.svg
  description: '# Overview


    This reference is designed to assist you in effectively utilizing the PayU REST API to enhance your online payment capabilities.'
servers:
- url: https://secure.payu.com
  description: Production Server
- url: https://secure.snd.payu.com
  description: Sandbox Test Server
security:
- Bearer:
  - client_credentials
tags:
- name: Card Installments
  x-displayName: Card Installments
  description: Retrieve available card installments options for specific card. For merchants operating on the Romanian market (Requires contact with a Payu representative first).
paths:
  /api/front/card-installments-options:
    post:
      tags:
      - Card Installments
      summary: Retrieve Available Installments Options
      description: Retrieve available card installments options for specific card. For merchants operating on the Romanian market (Requires contact with a Payu representative first).
      operationId: retrieve-card-installments
      parameters:
      - name: Content-Type
        in: header
        description: Content type
        required: true
        schema:
          type: string
        style: simple
        example: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - cardBin
              - posId
              properties:
                cardBin:
                  type: string
                  description: Card BIN to retrieve card installments data.
                  example: '5364477839'
                posId:
                  type: string
                  description: Amount of the transaction for which you want to retrieve available installments options.
                  example: '203018'
      responses:
        '200':
          x-summary: OK
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  numbers:
                    type: array
                    description: Section containing available installments options.
                    items:
                    - type: number
                      example: 1
                    - type: number
                      example: 6
                    - type: number
                      example: 12
                  provider:
                    type: string
                    example: BRD_INSTALLMENTS
                    description: Card installments program provider.
                  settings:
                    type: object
                    description: Object representing specific provider settings.
                    properties:
                      minAmount:
                        type: number
                        description: If this option is returned for a given card BIN number, then to use the given installment plan for that card, the order amount must be higher. If it is lower or equal, the order will be rejected.
                        example: 60000
        '400':
          x-summary: Bad Request
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                    example: Either posId or internalPosId has to be provided.
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
    Basic:
      type: http
      scheme: basic
