openapi: 3.2.0
info:
  version: 2.1.0
  title: PayU GPO Europe REST Shop API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://poland.payu.com/wp-content/themes/global-website/assets/src/images/payu-logo.svg
  description: '# Overview


    This reference is designed to assist you in effectively utilizing the PayU REST API to enhance your online payment capabilities.'
servers:
- url: https://secure.payu.com
  description: Production Server
- url: https://secure.snd.payu.com
  description: Sandbox Test Server
security:
- Bearer:
  - client_credentials
tags:
- name: Shop
  description: Shop is the main entity in the management panel. It is the place where you can manage incoming transactions processed by PayU.
paths:
  /api/v2_1/shops/{shopId}:
    get:
      tags:
      - Shop
      summary: Retrieve Shop Data
      operationId: retrieve-shop-data
      description: Retrieve your PayU shop balance, id, etc.
      parameters:
      - name: shopId
        in: path
        example: a1B2C3x
        description: ShopId value generated by PayU assigned to Shop
        required: true
        content:
          application/json:
            schema:
              type: string
      - name: Content-Type
        in: header
        description: Content type
        required: true
        schema:
          type: string
        style: simple
        example: application/json
      - name: Authorization
        in: header
        description: Auth token
        required: true
        schema:
          type: string
        style: simple
        example: Bearer 3e5cac39-7e38-4139-8fd6-30adc06a61bd
      responses:
        '200':
          x-summary: OK
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  shopId:
                    type: string
                    description: ShopId value generated by PayU assigned to Shop.
                    example: a1B2C3x
                  name:
                    type: string
                    description: Shop name assigned by Merchant.
                    example: Test Shop
                  currencyCode:
                    type: string
                    description: ISO 4217 currency code of currency in which Shop balance is kept.
                    example: PLN
                  balance:
                    $ref: '#/components/schemas/balance'
        '400':
          x-summary: Error
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      statusCode:
                        type: string
                        example: ERROR
                  redirectUri:
                    type: string
                    example: '{payment_summary_redirection_url}'
        '401':
          x-summary: Unauthorized
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
        '404':
          x-summary: Not Found
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      statusCode:
                        type: string
                        description: Error type.
                      severity:
                        type: string
                      statusDesc:
                        type: string
                        description: Error description.
components:
  schemas:
    balance:
      type: object
      description: Section containing Shop balance information.
      properties:
        currencyCode:
          type: string
          description: ISO 4217 currency code of currency in which Shop balance is kept.
          example: PLN
        total:
          type: number
          description: total balance of funds on Shop
          example: 1234567890
        available:
          type: number
          description: value of available funds that are under Merchant disposition, excluding funds locked by PayU system
          example: 987654321
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
    Basic:
      type: http
      scheme: basic
