openapi: 3.2.0
info:
  version: 2.1.0
  title: PayU GPO Europe REST FX Reference API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  x-logo:
    url: https://poland.payu.com/wp-content/themes/global-website/assets/src/images/payu-logo.svg
  description: '# Overview


    This reference is designed to assist you in effectively utilizing the PayU REST API to enhance your online payment capabilities.'
servers:
- url: https://secure.payu.com
  description: Production Server
- url: https://secure.snd.payu.com
  description: Sandbox Test Server
security:
- Bearer:
  - client_credentials
tags:
- name: FX-Reference
  x-displayName: FX Reference
  description: According to regulations in the European Union countries, payment service providers and parties providing currency conversion services at the point of sale are obliged to express the total currency conversion charges as a percentage mark-up over the latest available euro foreign exchange reference rates issued by the European Central Bank (ECB).
paths:
  /api/v2_1/fx-providers/ecb/fx-rates:
    get:
      tags:
      - FX-Reference
      summary: Retrieve Reference Rates
      description: You can retrieve a reference rate table that is updated daily. This table encompasses rates released by the European Central Bank (ECB) against EUR, as well as additional rates that are triangulated using EUR (e.g., PLN/USD, CZK/GBP, etc.).
      operationId: retrieve-reference-rates
      parameters:
      - name: termCurrency
        in: query
        example:
          termCurrency: PLN
        required: true
        schema:
          type: string
        examples:
          termCurrency:
            summary: Currency code compliant with ISO 4217
            value:
              termCurrency: PLN
      - name: Content-Type
        in: header
        description: Content type
        required: true
        schema:
          type: string
        style: simple
        example: application/json
      - name: Authorization
        in: header
        description: Auth token
        required: true
        schema:
          type: string
        style: simple
        example: Bearer 3e5cac39-7e38-4139-8fd6-30adc06a61bd
      responses:
        '200':
          x-summary: OK
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  effectiveDate:
                    type: string
                    example: '2023-01-03'
                    description: reference rate table validity. You need to refresh the table daily
                  fxRates:
                    type: array
                    description: Section containing pairs of chosen term currency and base currencies
                    items:
                      type: object
                      properties:
                        baseCurrency:
                          type: string
                          description: initial currency - this is the currency in which the payer will be charged (card settlement currency)
                        termCurrency:
                          type: string
                          description: final currency - this is the currnecy of the shop at which the payment will be processed (currency set for the shop in the PayU system)
                        midRate:
                          type: number
                          example: 3.141
                          description: midrate to be used to calculate the percentage mark-up
        '401':
          x-summary: Unauthorized
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401'
components:
  schemas:
    '401':
      type: object
      properties:
        status:
          type: object
          properties:
            statusCode:
              type: string
              description: Error type.
            code:
              type: string
              description: Identification code of specific error.
            codeLiteral:
              type: string
              description: Cause of the error.
            statusDesc:
              type: string
              description: Error description.
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
    Basic:
      type: http
      scheme: basic
